body {
    color: white;
    font-size: 40;
    text-align: center;
    background-image: url("NBA.jpeg");
    background-image: url("backgroundimg.jpg");
    background-size: cover;
}

.cell {
    float: left;
    padding: 40;
    border: 5px white;
    font-size: 35;
    margin-left: 30;
}

.cell2 {
    float: right;
    font-size: 25;
    padding: 20;
    margin-right: 30;
}


.logout {
    text-align: right;
}

.userName {
    text-align: right;
}

.roster {
    line-height: 1.7;
}