<html>

<head>
    <link rel="stylesheet" href="static/style.css" />
</head>

<body>
    <ul>
        <h2>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
        </h2>
    </ul>
    <br>
    <br>
    <div class="bg"></div>
    <div class='container'>

        <body>
            <h2 style="font-family:Papyrus">Join and track all your favorite ballers!</h2>

            <img src="/static/ball.gif" alt="NBA Logo" width="400" height="350"><br>



            <br>
            This app allows you to keep track of any NBA player with up to date statistics. <br>
            This is helpful to see how your favorite players are doing all at once in one place<br>
            without having to continously navigate to each individual player's page.<br>

            <a class="cont">
                Collaborators: <br>
                Rayaan Chowdhury <br>
                Miles Phillips <br>
                Inesh Raj <br>
                Kevin Rodgers <br>
            </a>

        </body>

</html>