<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/style.css" />



</head>

<body>

    <img src="/static/logo.png" alt="NBA Logo" width="450" height="250">

    <h2>Ball Watchers</h2>
    <form>
        <input type="text" name="playerSearch" placeholder="Search your favorite Player">
        <input type="submit" value="Submit">
    </form>

    <a href="{{url_for('logout')}}">Logout</a>


    <div id=player class="cell small-12 medium-4 large-4">
        Trae Young(player name)
    </div>

    <div id=info class="cell2 small-12 medium-8 large-8">
        Stats go here 30 - 10 - 10 - 5 - 6
    </div>


    {% for user in users %}
    <div>
        <h3>{{user.email}}'s profile</h3>
    </div>
    {% endfor %}



</body>





</html>