<html>

<head>
    <link rel="stylesheet" href="static/style.css" />
    <style>
        form {
            margin: 0;
        }
    </style>
</head>

<body>
    <ul>
        <h2>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('search') }}">Search</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </h2>
    </ul>
    <div class="userName">
        <h3>{{user.email}}</h3>
    </div>
    <div class="roster">
        {% if len_roster == 0 %}
        <h4>Search to Add Players to Your Roster!</h4>
        {% else %}
        <h1>{{user.email}}'s Roster:</h1>
        {% endif %}
        {% for i in range(0,len_roster) %}
        <div class="player">
            <li>
                <div class="playerName">{{playerNames[i]}} {{time_frame[i]}}</div>
                <div class="playerInfo">
                    <div class="heightWeight">
                        Build: {{height[i]}}(feet-inches) {{weight[i]}}lbs
                    </div>
                    <div class="currentTeam">
                        {{team[i]}} #{{jersey[i]}},
                        {{position[i]}}
                    </div>
                    <div class="gameStats">
                        Game Averages: {{pts[i]}} points, {{ast[i]}} assists, {{reb[i]}} rebounds ({{pie[i]}}
                        pie)
                    </div>
                    <form method="POST" action="/delete">
                        <button type="submit" , value="Delete">Delete</button>
                        <input type="hidden" name="player" value={{roster[i]}}>
                    </form>

                </div>
            </li>
        </div>
        {% endfor %}
    </div>


</body>





</html>