<html>

<head>
    <link rel="stylesheet" href="static/style.css" />
    <style>
        body {
            /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-CvRj7tT4PdciZIcH9AresTUr9q6upLodAUNvqR426fTtBmdNY6nZumfWduEp6wS0dlY&usqp=CAU"); */
            background-repeat: no-repeat;
            height: 100%;

            /* background: url("https://wallpaperaccess.com/full/1305339.jpg")  center fixed;  */
            /* background: url("https://wallpaperaccess.com/full/1305370.jpg")  center fixed;  */

        }
    </style>


</head>

<!-- <Body background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-CvRj7tT4PdciZIcH9AresTUr9q6upLodAUNvqR426fTtBmdNY6nZumfWduEp6wS0dlY&usqp=CAU">  -->

<body>
    <div class="bg"></div>


    </style>
    <div class='container'>

        <head>
            <link rel="stylesheet" href="static/style.css" />
        </head>

        <body>

            <div id="avatar"></div>

            <!--<h3 style="font-family:Papyrus">Join and track all your favorite ballers!</h1>-->
            <!--<img src="/static/ball.gif" alt="NBA Logo" width="325" height="275">-->
            <div class='containerbod'>





                <label for="email"><b>Log In</b></label>
                <form method="POST" action="/signin">

                    <input type="text" placeholder="Email" name="email" />
                    <input type="text" placeholder="Password" name="password" />

                    <button type="submit">Sign In</button>

                </form>

                Register
                <form method="POST" action="/">

                    <input type="text" placeholder="Email" name="r_email" />
                    <input type="text" placeholder="Password" name="r_password" />
                    <button type="submit">Register</button>

                </form>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                {{ message }}
                {% endfor %}
                {% endif %}
                {% endwith %}

            </div>



        </body>



</html>