<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/style.css" />



</head>

<body>
    
    <div class="userName">
        <div>
            <h3>{{users[0].email}}'s profile</h3>
        </div>
    </div>
    <div id=logout class="logout">
        <a href="{{url_for('home')}}">Home</a>
    </div>
    <img src="/static/logo.png" alt="NBA Logo" width="450" height="250">


    <div class="roster">

        {% if len_roster == 0 %}
        <h4>Search to Add Players to Your Roster!</h4>
        {% else %}
        <!--<h1>{{users[0].email}}'s Roster:</h1>-->
        {% endif %}
        {% for i in range(0,len_roster) %}
        <li>
            {{playerNames[i]}}: {{pts[i]}} pts, {{ast[i]}} ast, {{reb[i]}} reb, {{pie[i]}} pie ({{time_frame[i]}})
        </li>
        {% endfor %}
    </div>


</body>





</html>