<html>

<head>
    <link rel="stylesheet" href="static/style.css" />
</head>

<body>
    <ul>
        <h2>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('search') }}">Search</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </h2>

    </ul>
    <div class="userName">
        <h3>{{user.email}}</h3>
    </div>
    <h2>Ball Watchers</h2>
    </div>
    <form method="POST" action="/search">
        <input type="text" name="playerSearch" placeholder="Search your favorite Player">
        <button type="submit" value="Search">Search</button>
    </form>

    <body>



        <div class="results">
            {%for i in range(0,len_results)%}
            <li>
                {{playerName}} averages for 2021 : {{averagePoints}} PTS, {{averageAssists}} AST,
                {{averageRebounds}}
                REB
                <form method="POST" action="/add">

                    <input type="submit" , value="Add">
                    <input type="hidden" name="btn_id" value={{playerId}}>
                </form>
            </li>
            {%endfor%}
        </div>



    </body>


</html>