<html>

<head>
    <link rel="stylesheet" href="static/style.css" />

<body>
    <ul>
        <h2>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
        </h2>
    </ul>
    <br>
    <br>

    <div class='container'>
        Register
        <form method="POST" action="/signup">
            <input type="text" placeholder="Email" name="r_email" /><br>
            <input type="password" placeholder="Password" name="r_password" /><br>
            <button type="submit" value="Register">Register</button>
        </form>
        {% for msg in get_flashed_messages() %}
        <h4>{{ msg }}</h4>
        {% endfor %}
    </div>
</body>

</html>